<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="StringLimit" value ="2000"/>
		<add key ="DisplayLimit" value ="200"/>
		<add key ="TimeFormat" value ="yyyy-MM-dd HH:mm:ss.fff"/>
		
		
		<add key ="FileList_get" value ="TIMEOUT=5,CMD=^FileList_get .{4,6}$,RES="/>
		<add key ="FileList_put" value ="TIMEOUT=5,CMD=^FileList_put .{4,6}.+$,RES="/>
		<add key ="FileList_getFileInfo" value ="TIMEOUT=5,CMD=^FileList_getFileInfo .{4,6}$,RES="/>
		<add key ="FileList_getDefaultFileInfo" value ="TIMEOUT=5,CMD=^FileList_getDefaultFileInfo .{4,6}$,RES="/>
		<add key ="File_beginDownload" value ="TIMEOUT=5,CMD=^File_beginDownload .{2,}$,RES="/>
		<add key ="File_beginPartiallyDownload" value =""/>
		<add key ="File_prepareDownload" value =""/>
		<add key ="File_download" value =""/>
		<add key ="File_flushDownload" value =""/>
		<add key ="File_endDownload" value =""/>
		<add key ="File_flush" value =""/>
		<add key ="File_beginLazyDownload" value =""/>
		<add key ="CPU_notifyParameterUpdated" value =""/>
		<add key ="CPU_isChangeConnectingIpAddr" value =""/>
		<add key ="File_beginUpload" value =""/>
		<add key ="File_upload" value =""/>
		<add key ="File_endUpload" value =""/>
		<add key ="Sync_lock" value =""/>
		<add key ="Sync_unlock" value =""/>
		<add key ="File_beginTarceDownload" value =""/>
		<add key ="File_endTraceDownload" value =""/>

	</appSettings>
</configuration>